.container-table{
    background-color: rgb(242,244,249);
    padding: 10px;
    clear:both;
}
.container-table .table-header{
    margin-bottom: 10px;
    position: relative;
    height: 30px;
}
.container-table .table-header .btn-group{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.container-table .table-header .btn-group .btn{
    margin-left: 20px;
    background-color: rgb(66,129,194);
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 4px;
}
.container-table .table-header .btn-group .btn-view{
    background-image: url("../css/view-icon.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    padding: 0 40px 0 48px;
}
.container-table .table-header .btn-group .btn-add{
    background-image: url("../css/add-icon.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    padding: 0 15px 0 30px;
}
.container-table .table-wrapper{
    border: 1px solid rgb(214,220,234);
    padding: 0 5px 10px 5px;
    background-color: #fff;
}
.container-table .table-wrapper table{
    width: 100%;
}
.container-table .table-wrapper table th{
    font-size: 14px;
    color: rgb(65,129,194);
    text-align: center;
    padding: 10px 0;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
    border-bottom: 1px solid rgb(236,236,237);
}
.container-table .table-wrapper table td{
    font-size: 14px;
    color: rgb(102,102,102);
    text-align: center;
    padding: 10px 4px 10px 4px;
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
    border-bottom: 1px solid rgb(236,236,237);
}
.container-table .pagination{
    height: 60px;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
}
.pagination-quote {
	margin-top: 10px;
	height:40px;
}
.citingLiteratureTab {
	padding:10px 20px 10px 20px;
	float:left;
	cursor:pointer;
	color:rgb(47,102,153);
	font-weight:bold;
}
#leftTab {
	background-color: rgb(242,244,249);
}
#rightTab {
	background-color: #fff;
}