.litera-title{
	font-size:16px;
	color:rgb(29,113,183);
	font-weight:bold;
	padding-left:15px;
}
.litera-input{
	border:rgb(112,155,195) 2px solid;
	height:36px;
	width:350px;
	line-height:36px;
}
.litera-btn-group{
	float:left;
	width:420px;
	height:45px;
	margin-left:30px;
}
.litera-btn{
	float:right;
	font-size:14px;
	color:#fff;
	width:75px;
	height:36px;
	text-align:center;
	line-height:36px;
	background-color:#4281c2;
	margin-right:10px;
}
.litera-btn-th{
	padding: 5px 0;
    font-size: 16px;
    border-bottom: 1px solid rgb(236,236,237);
    color:black;
    text-align:center;
}
.litera-btn-td{
	text-align:center;
	padding: 5px 0;
    font-size: 12px;
    border:0 !important;
    border-bottom: 1px solid rgb(236,236,237) !important;
    text-align:center;
    table-layout: fixed; 
    word-break: break-all;
    word-wrap: break-word;
    vertical-align:middle;
}
.litera-detail-span-add{
	display:block;
	float:right;
	font-size:14px;
	color:#fff;
	height:34px;
	text-align:center;
	line-height:34px;
	background-color:#4281c2;
	margin-left:10px;
	cursor:pointer;
	padding:0 10px;
}
.litera-detail-spans-add{
	display:block;
	float:right;
	font-size:14px;
	color:#fff;
	width:120px;
	height:34px;
	text-align:center;
	line-height:34px;
	background-color:#4281c2;
	margin-left:10px;
	cursor:pointer;
}
.litera-detail-table-add{
	padding: 11px 0;
    font-size: 14px;
    border-bottom: 1px solid rgb(236,236,237);
    border-top: 1px solid rgb(236,236,237);
    text-align:center;
}
.litera-detail-tr-add{
	padding: 11px 0 11px 12px;
    font-size: 12px;
    border-bottom: 1px solid rgb(236,236,237);
    table-layout: fixed; 
    word-break: break-all;
    word-wrap: break-word;
    vertical-align:middle;
}
.literadb_return{
	width:70px;
	height:30px;
	color:#fff;
	margin-left:435px;
	background-color:rgb(29,113,183);
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.literaDb-collection-add-div-inline{
	margin: 0 10px;
    background-color: #fff;
    padding: 0 5px;
}
.searchLitera-inline-add{
	display:inline-block;
	float:left;
}
.searchLitera-fontSize-add{
	font-size:12px;
	margin:5px 10px;
	height:24px;
	verticle-align:middle;
}
.searchLitera-color-add{
	color:red;
	padding-right:10px;
}

.content .table-container {
    width: 925px;
    margin: 0 auto;
    background-color: rgb(239,241,246);
    padding-top: 20px;
    border-radius: 5px;
}

.content .table-container h1.patent-info-header {
    position: relative;
    height: 30px;
    line-height: 30px;
}

.content .table-container h1.table-header {
    color: rgb(65,129,194);
    font-size: 16px;
    margin: 0 0 15px 15px;
}

.content .table-container h1.patent-info-header .btn-group {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
}

.content .table-container h1.patent-info-header .btn-group .btn.btn-delete {
    background-color: rgb(66,129,194);
    background-image: url(../images/delete.png);
}

.content .table-container h1.patent-info-header .btn-group .btn {
    height: 100%;
    padding: 0;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
    border-radius: 4px;
}

.content .table-container h1.patent-info-header .btn-group .btn.btn-remove {
    background-color: rgb(232,116,65);
    background-image: url(../images/remove.png);
}

.content .table-container .table-content {
    border: 1px solid rgb(214,220,234);
    margin: 0 10px;
    background-color: #fff;
    padding: 10px 5px;
}

.content .table-container .table-content table {
    width: 100%;
}

.content .table-container .table-content table tr {
    text-align: center;
}

.content .table-container .table-content table .checkbox {
    text-align: left;
}

.content .table-container .table-content table th {
    color: rgb(102,102,102);
    font-size: 12px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid rgb(236,236,237);
}

.content .table-container .table-content table tr td {
    padding: 11px 0;
    font-size: 12px;
    border-bottom: 1px solid rgb(236,236,237);
    border-top: none;
    border-left: none;
    border-right: none;
    vertical-align: middle;
    word-wrap: break-word;
}